@font-face {
  font-family: "SimLLHP";
  src:url("../fonts/SimLLHP.woff") format("woff"), /* Modern Browsers */
      url("../fonts/SimLLHP.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
  background-image: url('../images/SimsBackgroundTransparent.jpeg');
  background-color: #3d3935;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
p {
  text-align: center;
}

span,
h2,
h3 {
  font-family: "SimLLHP", sans-serif;
  background: -webkit-linear-gradient(#8ec020, #148f3d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3 {
  margin: .25rem 0;
}

h1 {
  font-size: 4rem;
  margin: 0.67rem 0 .35rem 0;
}

h2 {
  font-size:2.75rem;
}


h3 {
  font-size: 2rem;
}

p {
  color: #FFF5EE;
  font-size: 1.5rem;
  margin: 1rem;
}

header,
main {
  width: 96%;
  margin: 0 auto;
}


#logo {
  max-width: 100%;
  height: 4rem;
}

.featured-img {
  width: 76%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display:block;
}

button,
input[type="submit"] {
  font-family: "SimLLHP", sans-serif;
  background: -webkit-linear-gradient(#8ec020, #18b14b);
  font-size: 1.25rem;
  padding: 1em;
  display: block;
  margin: 1em auto;
  text-align:center;
}

button:hover,
input[type="submit"]:hover {
  background-color:rgb(41, 40, 40);
  color:white;
}

button:active,
button:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border: 1px solid black;
}


/*********QUESTION TEMPLATE*********/
.container {
  width: 80%;
  margin: 0 auto;
}

.thumbnail-img {
  width: 65%;
  margin: 1rem auto 0 auto;
}

.question-indicator{
  display:none;
}

.answer-label {
  display:block;
  background-color:#d8d8d8;
  padding: .75em 1.25em;
  margin: 1em auto;
}

input[type="radio"] {
  opacity: 0;
  position:fixed;
  width: 0;
}

input[type="radio"]:checked + label {
  background-color:#148f3d;
  font-weight: bold;
}

input[type="radio"]:hover + label {
  border: 1.5px solid black;
  background-color: #8ec020; 
}

/*********DESKTOP STYLES*********/
@media all and (min-width: 850px) {

  h1 a{
    display:inline-block;
  }

  h3 {
    font-size: 2.75rem;
  }

  .question-score-display {
    display:flex;
    justify-content: center;
    align-content: center;
  }

  .question-score-display h3{
    padding-left: 1rem;
  }

  img {
    max-height: 100%;
  }

  .featured-img,
  .thumbnail-img{
    width: 60%;
    height: 20rem;
    margin: 0 auto;
  }

  form:focus {
    border: 2px black solid;
  }

  .question-indicator{
    display:inline;
    font-weight: bold;
    font-size: 2rem;
  }

  .questions-results-display {
    max-width: 65%;
    margin: 0 auto;
  }

}