/*********GLOBAL*********/
* {
  font-family: sans-serif;
}

h1,
h2,
h3,
p {
  text-align: center;
}

header,
main {
  width: 96%;
  margin: 0 auto;
}

header {
  margin: 1.25rem auto;
}

#logo {
  max-width: 100%;
  height: 4rem;
}

.featured-img {
  width: 76%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display:block;
}

button,
input[type="submit"] {
  background-color:gray;
  padding: 1em;
  display: block;
  margin: 1em auto;
  text-align:center;
}

button:hover {
  background-color:rgb(41, 40, 40);
  color:white;
}

button:active,
button:focus {
  border: 1px solid black;
}


/*********QUESTION TEMPLATE*********/
.container {
  width: 80%;
  margin: 0 auto;
}

.thumbnail-img {
  width: 65%;
  margin: 0 auto;
}

input[type="radio"] {
  opacity: 0;
  position:fixed;
  width: 0;
}

.answer-label {
  display:block;
  background-color:#d8d8d8;
  padding: .75em 1.25em;
  margin: 1em auto;
}

input[type="radio"]:checked + label {
  background-color:#6b6b6b;
  font-weight: bold;
}

input[type="radio"]:focus + label,
input[type="radio"]:hover + label {
  border: 1px solid black;
}

